.button {
    font-family: Georgia, sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--font-dark-3xl);
    line-height: 22px;
    letter-spacing: 1px;
    background-color: var(--color-primary);
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    padding: 15px 45px;   
    
    &__start-screen {
        width: 207px;
        height: 52px;
    }

    &__slider {
        width: 187px;
        height: 52px;
        border: 2px solid var(--color-primary);
        background-color: transparent;
        padding: 12px 35px; 
    }

    &__slider-last {
        margin: 60px -2px 60px 0;
    }
}