.button {
    font-family: Georgia, sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--font-dark-3xl);
    line-height: 22px;
    letter-spacing: 1px;
    background-color: var(--color-primary);
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    padding: 15px 45px; 
    transition: background-color 0.3s linear;  
    
    &__start-screen {
        width: 207px;
        height: 52px;
    }

    &__slider {
        width: 187px;
        height: 52px;
        border: 2px solid var(--color-primary);
        background-color: transparent;
        padding: 12px 35px; 
    }

    &__slider-last {
        margin: 60px -2px 60px 0;
    }    

    &__arrow {
        width: 52px;
        height: 52px;
        border: 2px solid var(--color-primary);
        border-radius: 50%;
        background-color: transparent;
        top: 45.1%;
        background-repeat: no-repeat;
        background-size: 29%;
        background-position: center;
        padding: 0;
        
        &-left {
            position: absolute;            
            left: -65px;
            background-image: url("../assets/icons/arrow-left.svg");
        }
        &-right {
            position: absolute;            
            right: -65px;
            background-image: url("../assets/icons/arrow-right.svg");
        }        
    }

    &__pets {
        background-color: transparent;
        border: 2px solid var(--color-primary-light);
    }

    &__pagination-number {
        width: 52px;
        height: 52px;
        padding: 0;
    }    
    
    &__pagination-arrow {
        width: 52px;
        height: 52px;
        padding: 0;     
        background-color: transparent;  
        border: 2px solid var(--color-primary);
    } 
    
    &__pagination_inactive {
        border-color: var(--font-dark-s);
        color: var(--font-dark-s);       
    }    

    &:hover {
        background-color: var(--color-primary-light);
        border-color: var(--color-primary-light) ;
    }  

    &__pagination_inactive:hover {
        background-color: transparent;
        border-color: var(--font-dark-s);
        cursor: default;
    } 

    &__pagination-number_active:hover {
        background-color: var(--color-primary);
        cursor: default;
    }
}

@media screen and (max-width: 1279px) {
    .button__arrow-left {        
        left: -25px;
    }    
    .button__arrow-right {        
        right: -25px;
    }
}

@media screen and (max-width: 991px) {
    .button__start-screen {
        margin-left: 126px;
    }

    .button__arrow {
        top: 45.3%;
    }

    .button__arrow-left {
        left: 30px;
    }

    .button__arrow-right {
        right: 30px;
    }
}

@media screen and (max-width: 767px) {
    .button__arrow {
        top: 80%;
    }

    .button__arrow-left {
        left: 30%;
    }

    .button__arrow-right {
        right: 30%;
    }

    .button__slider-last {
        margin: 91px -2px 23px 0;
    }
}

@media screen and (max-width: 599px) {
    .button__start-screen {
        margin-left: 46px;
    }

    .button__arrow {
        top: 76.8%;
    }

    .button__arrow-left {
        left: 21.3%;
    }

    .button__arrow-right {
        right: 21.3%;
    }

}

