.donation {
    background-color: var(--bg-color-2);
    padding: 75px 0 100px 0;
}

.donation__container {
    font-family: Georgia, sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;    
    column-gap: 30px;
}

.donation__info {
    max-width: 380px;
    margin-top: 4px;
}

.donation__heading {
    padding-right: 80px;
    text-align: left;
    padding-bottom: 20px;
}

.donation__subheading {   
    margin: 0;   
    font-size: 1.5rem;
    line-height: 1.1;
    color: var(--font-dark-l);
    padding-bottom: 20px;
    letter-spacing: 0.9px;
}

.donation__card {   
    display: flex;
    align-items: center;
    column-gap: 15px;
    max-width: 349px;
    font-size: 2rem;
    color: var(--font-dark-l);    
    text-decoration: none;

    background-color: var(--color-primary);
    border-radius: 9px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s linear;
    
    &:hover {
        background-color: var(--color-primary-light);
    }
}

.donation__card__ico {   
    display: inline-flex; 
    background-image: url('../assets/icons/credit-card.svg');
    width: 30px;
    height: 23px;
}

.donation__card__number {    
    margin: 0;
    letter-spacing: 1.1px;
}

.donation__text {
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--font-dark-m);
    margin: 0;
    padding-top: 20px;
}


@media screen and (max-width: 991px) {
    .donation__container {
        row-gap: 61px;
        flex-direction: column-reverse;
    }
}
