.pets {
    background-color: var(--bg-color-2);
    padding-bottom: 40px;
    &__heading {
        max-width: 400px;
        text-align: center;
        padding-top: 80px;
    }
}

.pets__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 58px;
    
    &__wrapper {
        position: relative;
        display: flex;
        column-gap: 90px;        
    }

    &__item {
        width: 270px;
        height: 435px;
        text-align: center;
        background-color: var(--bg-color-card);

        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        border-radius: 9px;
        cursor: pointer;

        &:hover {
            .button {
                background-color: var(--color-primary-light);
            }
        }
    }

    &__img {        
        border-radius: 9px;
    }

    &__name {
        font-family: Georgia, sans-serif;
        font-size: 2rem;
        line-height: 1.1;
        font-weight: 400;
        letter-spacing: 1px;
        color: var(--font-dark-l);
    }
}