.pets {
    background-color: var(--bg-color-2);
    padding-top: 79px;
    padding-bottom: 40px;
    &__heading {
        max-width: 400px;
        text-align: center;
    }
}

.pets__container {
    display: flex;
    flex-direction: column;
    align-items: center;  
    position: relative;  
}

.slider {
    width: 990px;
    overflow: hidden; 
    padding-top: 59px;
}

.slide-item {
    display: flex;
    column-gap: 90px;
}

.pets {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__wrapper {
        position: relative;
        display: flex;
        left: -990px;
    }

    &__item {
        width: 270px;
        height: 435px;
        text-align: center;
        background-color: var(--bg-color-card);
        transition: all 0.3s linear;
        transform: translateX(0);

        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 31.2px;
        border-radius: 9px;
        cursor: pointer;

        &:hover {
            background-color: var(--bg-color-1);
            box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
            .button {
                background-color: var(--color-primary-light);
            }
        }
    }

    &__img {        
        border-radius: 9px;
    }

    &__name {
        font-family: Georgia, sans-serif;
        font-size: 2rem;
        line-height: 1.1;
        font-weight: 400;
        letter-spacing: 1px;
        color: var(--font-dark-l);
    }
}

@keyframes move-right {
    from {left: -990px}
    to {left: 0px}
}

.transition-right {
    animation-name: move-right;
    animation-duration: 0.4s;
}

@keyframes move-left {
    from {left: -990px;}
    to {left: -1980px;}
}
  
.transition-left {
    animation-name: move-left;
    animation-duration: 0.4s;
}

@media screen and (max-width: 1279px) {
    .slider {
        max-width: 850px;
    }

    .pets__wrapper {
        left: -850px;
    }
    
    .slide-item {
        column-gap: 20px;
    }

    .slider__items {
        column-gap: 10px;        
    }
}

@media screen and (max-width: 991px) {
    .pets {
        .pets__item:nth-child(3) {
            display: none;
        }

        &__wrapper {
            left: -630px;
            column-gap: 51px
        }
    }

    .slider__items {
        column-gap: 39px;
    }

    .slider {
        width: 580px;
    }

    .slide-item {
        column-gap: 40px;
    }


    @keyframes move-right {
        from {left: -630px}
        to {left: 0px}
    }

    @keyframes move-left {
        from {left: -630px;}
        to {left: -1260px;}
    }

}

@media screen and (max-width: 599px) {
    .pets {
        padding-top: 43px;
        padding-bottom: 19px;

        &__wrapper {
            left: -270px;
            padding-top: 41px;
            padding-bottom: 23px;
            column-gap: 0;
        }

        .pets__item {
            row-gap: 30.2px;
            &:nth-child(2) {
                display: none;
            }
        }
    }

    .slider {
        width: 270px;
    }
    .slider__items {
        padding-top: 0;
    }

    @keyframes move-right {
        from {left: -270px}
        to {left: 0px}
    }

    @keyframes move-left {
        from {left: -270px;}
        to {left: -540px;}
    }
}