:root {
    --bg-color-1: #FFFFFF;
    --bg-color-2: #F6F6F6;
    
    --color-primary: #F1CDB3;
    
    --font-light: #FAFAFA;
    --font-dark-s: #CDCDCD;
    --font-dark-l: #545454;
    --font-dark-xl: #4C4C4C;
    --font-dark-3xl: #292929;
}