:root {
    --bg-color-1: #FFFFFF;
    --bg-color-2: #F6F6F6;
    --bg-color-card: #FAFAFA;
    
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    
    --font-light: #FAFAFA;
    --font-dark-s: #CDCDCD;
    --font-dark-m: #b2b2b2;
    --font-dark-l: #545454;
    --font-dark-xl: #4C4C4C;
    --font-dark-3xl: #292929;
}