@font-face {
    font-family: 'Arial';
    src: url('../assets/fonts/arial-regular/ArialMT.eot');
    src: url('../assets/fonts/arial-regular/ArialMT.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/arial-regular/ArialMT.woff2') format('woff2'),
        url('../assets/fonts/arial-regular/ArialMT.woff') format('woff'),
        url('../assets/fonts/arial-regular/ArialMT.ttf') format('truetype'),
        url('../assets/fonts/arial-regular/ArialMT.svg#ArialMT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../assets/fonts/georgia-regular/Georgia.eot');
    src: url('../assets/fonts/georgia-regular/Georgia.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/georgia-regular/Georgia.woff2') format('woff2'),
        url('../assets/fonts/georgia-regular/Georgia.woff') format('woff'),
        url('../assets/fonts/georgia-regular/Georgia.ttf') format('truetype'),
        url('../assets/fonts/georgia-regular/Georgia.svg#Georgia') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}