.header {
    background-image: url('../assets/images/start-screen-gradient-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 35px;
}

.header-pets {
    position: sticky;
    top: 0;
    background-color: var(--bg-color-1);
    padding-top: 5px;
    z-index: 5;
    
    .logo {
        &__title, &__subtitle {        
            color: var(--font-dark-l);           
        }
    }

    .nav__item {
        .nav__link {
            color: var(--font-dark-l);
            &_active {
                color: var(--font-dark-3xl);
            }
            &:hover {
                color: var(--font-dark-3xl);
            }
        }
    }
}

.header-bg {
    background-color: transparent;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 35px;
    margin-top: 9px;
    margin-right: 2px;
}

.nav__item {
    list-style: none;
    
    .nav__link {
        position: relative;
        text-decoration: none;
        font-size: 1.5rem;
        color: var(--font-dark-s);
        transition: color .2s linear;
        padding: 0 0 4px 0;

        &_active {
            color: var(--font-light);
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: var(--color-primary);
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
            opacity: 0;
        }

        &_active::after{
            opacity: 1;
        }

        &:hover {
            color: var(--bg-color-1);
        }
    }
}

.logo {
    text-decoration: none;   

    &__title {
        font-family: Georgia, sans-serif;
        color: var(--color-primary);
        font-size: 3.2rem;
        letter-spacing: 0.06em;
        padding-bottom: 10px;   
        font-weight: 400;     
    }

    &__subtitle {
        color: var(--bg-color-1);
        font-size: 1.3rem;
        letter-spacing: 0.1em;
        padding-left: 5px;
    }
}

.burger {
    display: none;
    width: 30px;
	height: 30px;
	position: relative;
	z-index: 10;
	overflow: hidden;

    & span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color-primary);
        transition: all 0.5s;
    }

    & span:nth-of-type(2) {
        top: calc(50% - 10px);
    }

    & span:nth-of-type(3) {
        top: calc(50% + 10px);
    }
}

.body-shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.4);
    z-index: 2;
}



@media screen and (max-width: 991px) {
    .header {
        padding-top: 5px;
        background-size: 300%;
        background-position: 40% 33%;
    }
    .header__container {
        padding: 25px 30px;
    }
}


@media screen and (max-width: 767px) {
    .header {
        background: linear-gradient(90deg, rgba(89,71,57,1) 0%, rgba(57,49,44,1) 50%, rgba(34,32,33,1) 100%);
    }
    .header-pets {
        .header__nav {
            background-color: var(--bg-color-1);
        }
    }

    .header__container {
        width: 100%;
        padding: 25px 10px;
        position: relative;
    }

    .logo {
        z-index: 7;     
        transition: all 0.3s linear;   
    }

    .logo.logo-active {        
        margin-left: calc(100% - 300px);
    }
    .nav {
        flex-direction: column;
        row-gap: 56px;
        margin: 0 38px 0 0;
    }

    .header__nav {
        position: fixed;
        z-index: 6;
        background-color: var(--font-dark-3xl);
        transition: right 0.4s linear;
        top: 0;
        right: -100%;
        height: 100%;
        width: 320px;
        padding: 256px 0;     
    }

    .nav__item .nav__link {
        font-size: 3.2rem;
        font-weight: 400;
        padding: 0 0 7px 0;
    }

    .nav-active {
        right: 0;
        overflow: auto;
    }

    .header-pets .burger span {
        background-color: #000000;
    }

    .burger {
        display: block;
        margin: -2px 43px 0 0;
        transition: all 0.3s linear;
    }

    .burger.burger-active {
        transform: rotate(90deg);
    }
}